<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Настройки подключения к базе данных -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/business</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>

        <!-- Настройки пула соединений ... используя встроенный тестовый пул -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <!-- Укажите диалект -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>

        <!-- Вывод всех выполненных запросов на stdout -->
        <property name="hibernate.show_sql">false</property>

        <!-- Упоминание аннотированного класса -->
        <mapping class="org.hibernate.lab5.model.Company"/>
        <mapping class="org.hibernate.lab5.model.Corporation"/>
        <mapping class="org.hibernate.lab5.model.Delivery"/>
        <mapping class="org.hibernate.lab5.model.Product"/>
        <mapping class="org.hibernate.lab5.model.Service"/>
        <mapping class="org.hibernate.lab5.model.Warehouse"/>

    </session-factory>
</hibernate-configuration>
